@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bar-control{
  display: flex;
  align-items: center;
}

.bar-max{
  margin-left: 10px;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.controller-container-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(48, 47, 47);
  margin-bottom: 20px;
  padding: 8px 40px;
}